<launch>     
    <arg name="rda_configure_file" default="$(find psdf_ros)/config/scout/rda_planner_scout.yaml"/>

    <node name='rda_control' pkg="rda_ros" type="rda_node.py" output="screen">
        <remap from="/rda_cmd_vel" to="/cmd_vel"/>
        <remap from="/rda_goal" to="/move_base_simple/goal"/>
        <remap from="/rda_sub_path" to="/move_base/NavfnROS/plan"/>
        <rosparam command="load" file="$(arg rda_configure_file)" />
    </node>

    <!-- line segments to obstacles -->
    <node name="line_segments_to_obstacles" pkg="psdf_ros" type="line_segments_to_obstacles.py"/>

</launch>