<launch>
  <!-- Arguments -->
  <arg name="configuration_basename" default="scout_mini_gazebo.lua"/>
  <arg name="set_base_frame" default="ego_vehicle"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>

  <!-- Gmapping -->
  <node pkg="gmapping" type="slam_gmapping" name="scout_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <rosparam command="load" file="$(find psdf_ros)/config/slam/gmapping_params_carla.yaml" />
  </node>

  <!-- run pointcloud_to_laserscan node -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
      <remap from="cloud_in" to="/carla/ego_vehicle/lidar"/>
      <remap from="scan" to="scan"/>
      <rosparam>
          target_frame: ego_vehicle # Leave disabled to output scan in pointcloud frame
          transform_tolerance: 0.01
          min_height: 0.2
          max_height: 1.5

          angle_min: -3.1416 # -M_PI/2
          angle_max: 3.1416 # M_PI/2
          angle_increment: 0.0087 # M_PI/360.0
          scan_time: 0.3333
          range_min: 0.01
          range_max: 80.0
          use_inf: true
          inf_epsilon: 1.0

          # Concurrency level, affects number of pointclouds queued for processing and number of threads used
          # 0 : Detect number of cores
          # 1 : Single threaded
          # 2->inf : Parallelism level
          concurrency_level: 1
      </rosparam>
  </node>
</launch>