<?xml version="1.0"?>
<launch>
  <!-- PSDF-MPC Local Planner Launch File -->
  
  <!-- Parameters -->
  <arg name="robot_name" default="robot" />
  <arg name="config_dir" default="$(find psdf_ros)/config" />
  
  <!-- Load PSDF-MPC parameters -->
  <rosparam file="$(arg config_dir)/psdf_local_planner.yaml" command="load" ns="$(arg robot_name)" />
  
  <!-- Load robot footprint -->
  <rosparam file="$(arg config_dir)/robot_footprint.yaml" command="load" ns="$(arg robot_name)" />
  
  <!-- PSDF-ROS Service Node -->
  <node name="psdf_ros_node" pkg="psdf_ros" type="psdf_ros_node.py" output="screen" ns="$(arg robot_name)">
    <param name="robot_footprint" value="$(arg config_dir)/robot_footprint.yaml" />
    
    <!-- MPC Parameters -->
    <param name="horizon" value="15" />
    <param name="dt" value="0.1" />
    <param name="d_safe" value="0.001" />
    
    <!-- Control limits -->
    <param name="vmin" value="-0.5" />
    <param name="vmax" value="0.5" />
    <param name="omegamin" value="-1.2" />
    <param name="omegamax" value="1.2" />
    
    <!-- Cost weights -->
    <rosparam param="Q">[50.0, 50.0, 1.0]</rosparam>
    <rosparam param="R">[0.2, 0.05]</rosparam>
    <param name="terminal_weight" value="1.0" />
    
    <!-- Safety parameters -->
    <param name="max_clusters" value="20" />
    <param name="max_edges_per_cluster" value="64" />
    <param name="emergency_stop_on_fail" value="true" />
    <param name="service_timeout" value="0.2" />
    
    <!-- Topics and frames -->
    <param name="obstacle_topic" value="/detected_edges" />
    <param name="frame_id/local_frame" value="odom" />
  </node>
  
  <!-- Optional: move_base with PSDF local planner -->
  <group if="$(eval arg('robot_name') != '')">
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen" ns="$(arg robot_name)">
      <!-- Use PSDF local planner -->
      <param name="base_local_planner" value="psdf_local_planner/PSDFLocalPlanner" />
      
      <!-- Basic move_base parameters -->
      <param name="controller_frequency" value="10.0" />
      <param name="planner_patience" value="5.0" />
      <param name="controller_patience" value="15.0" />
      <param name="conservative_reset_dist" value="3.0" />
      <param name="recovery_behavior_enabled" value="false" />
      
      <!-- Load costmap parameters -->
      <rosparam file="$(find psdf_ros)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find psdf_ros)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find psdf_ros)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find psdf_ros)/config/global_costmap_params.yaml" command="load" />
    </node>
  </group>
  
  <!-- Optional: RViz visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find psdf_ros)/rviz/psdf_navigation.rviz" if="false" />
  
</launch>
