<launch>

    <!-- Ego vehicle -->
    <arg name='role_name' default='ego_vehicle'/>
    <arg name="spawn_point" default='285.600006,243.729996,0.5,0.0,0.0,-90.0'/>
    <!-- <arg name="spawn_point" default='10.600006,13.729996,0.32682,0.0,0.0,90.0'/ㅇㅇㅇㅇ> -->

    <!-- Spawn ego vehicle -->
    <include file="$(find carla_spawn_objects)/launch/carla_example_ego_vehicle.launch">
        <arg name="objects_definition_file" value='$(find psdf_ros)/config/carla_objects.json'/>
        <arg name='role_name' value='$(arg role_name)'/>
        <arg name="spawn_point_ego_vehicle" value="$(arg spawn_point)"/>
        <arg name="spawn_sensors_only" value="false"/>
    </include>
</launch>